body{
    background-image: url(background.jpg);
    background-size: cover;
}



/* container del logo */

.container-logo{

 width: 20%;
 margin: auto;

}

/* container frase sotto logo */

.container-text{

    width: 60%;
    margin: auto;
    text-align: center;
    font-family: 'Questrial', sans-serif;
   
   }



/* Dimensioni e colore del primo testo */


.logo{
    width: 200px;
    
}

.logo-text{
color: rgb(55, 213, 19);

}



/* Gestione tasti e sfondo prenotazione */

.prenotazione{

    background-color: rgb(55, 213, 19);
    height: 40px;
    width: 1050px;
    display: inline-block;
}


.posizionepulsante{
width: 30%;
margin-left: 35%;
margin-top: 9px;

}



/* gestione scheda monopattino */

.nome-monopattino{
    display: inline-block;
}

.nome-monopattino, .posizione, .batteria{
    color: black;
}




/* Colore quantità batteria */

.batteriaarancio{
    height: 24px;
    width: 320px;
    background-color: #eea643;
  border-radius: 25px;
}

.batteriaverde{
    height: 24px;
    width: 550px;
    background-color: #22d41c;
  border-radius: 25px;
}

.batteriarossa{
    height: 24px;
    width: 170px;
    background-color: #831c1c;
  border-radius: 25px;
}

/* Gestione container principale */

.containerprincipale{
    width: 1200px;
    height: 830px ;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 15px;
    margin-top: 40px;
}


/* Gestione container secondario  */

.containersecondario{

    width: 1050px;
    height: 780px;
    position: relative;
    top: 60px;
    left: 75px;
    background-color: rgba(0, 0, 0, 0);
    

}



/* Modifica dei font */

.nome-monopattino{
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);  
    margin-bottom:0px;
    font-size: 25px;
}


.posizione, .batteria{
    font-family: 'Raleway', sans-serif;
    margin: 4px;
    color: aliceblue;
}

.monopattino1, .monopattino2, .monopattino3{
    font-size: 120%;
}